extends index

block header_main
    .header_main.header_main__copyright
        .wrapper
            .header_main_text_block.header_main_text_block__bg
                h1.title.title__xl.text_white.title__shadow КОПИРАЙТИНГ
                h3.title.title__xs.title__bg_black Не существует непродающих текстов: просто удачные работают на вас, а неудачные — на ваших конкурентов.
                .btn.btn__md(data-order-link) ЗАКАЗАТЬ

block content
    section.copyright_for_what
        .wrapper.clr
            .title.title__bg.title__orange ЗАЧЕМ ВАМ КОПИРАЙТ?
            ul.copyright_for_what_list
                each item, index in ['Увеличения числа партнеров и клиентов','Увеличения соотношений заходов на сайт и реальных звонков','Уменьшения процентов отказа на сайте','Рост продаж']
                    li.copyright_for_what_item(class='copyright_for_what_item__#{index + 1}')= item

    section.offer
        .wrapper.clr
            .title.title__bg
            ul.offer_list
                each item in [['редактирование текстов','','От 100 000 тыс руб','Текст может написать каждый,но не каждый это может сделать максимально эффективно и нацелено на результат. Наши специалисты быстроб качественно и профессионально отредактируют любой ваш текст. Чтобы вы смогли достичь нужного Вам результата.'],['копирайт, рерайт','Seo тексты, коммерческие, информационные, заметки, рерайт','От 485.000 руб','Контент - это эффективный инструмент, с помощью которого можно сделать любой сайт интересным для пользователей и вывести в ТОП по запросам. Тексты, написанные с учетом требований поисковых систем, положительно влияют на индексацию сайта и его посещаемости.'],['продающие тексты для landing page','','От 2 000 000 млн руб','Качественно оптимизированный сделанный сайт, привлечет и удержит вашего клиента. Однако, продажей вашего товара или услуги, будет заниматься профессионально написанный текст. Качественный и уникальный текст увеличивает конверсию сайта на 40%.']]
                    li.offer_item
                        .offer_item_title= item[0]
                        .offer_item_desc= item[1]
                        .offer_item_cost= item[2]
                        .offer_item_text= item[3]

    section.what_offer
        .wrapper
            .panel.panel__left ЧТО МЫ ПРЕДЛАГАЕМ?
            p <strong>SEO-копиратинг</strong> — написание текстов согласно техническому заданию заказчика с формированием семантического ядра и использованием ключевых запросов для продвижения;
            p <strong>Наполнение сайта уникальным контентом</strong> — заполнение интернет-площадки текстами с нуля или дополнение уже существующего материала уникальными статьями;
            p <strong>Рерайтинг</strong> — использование уже представленной в интернете информации для продвижения товаров и услуг заказчика;
            p <strong>Рекламные тексты</strong> — статья или цикл материалов для продвижения товаров и услуг заказчика на популярных информационных ресурсах и в печатных СМИ;
            p <strong>Ведение «партизанского» маркетинга</strong>;
            p <strong>Создание пресс-релизов</strong> — текстовая и визуальная презентация товаров и услуг заказчика для рассылки потенциальным клиентам и средствам массовой информации;
            p <strong>Написание коммерческих предложений.

    section.packets.packets__copyright
        .wrapper.clr
            .title.text_upper ИНФОРМАЦИОННАЯ ПОДДЕРЖКА САЙТА
            ul.packets_list
                each item, index in [['ПРЕДПРИНИМАТЕЛЬ','15 000 знаков в месяц<br>1 500 000 млн руб'],['КОМПАНИЯ','30 000 знаков в месяц<br>Правки бесплатно 3 000 000 млн руб'],['КОРПОРАЦИЯ','50 000 знаков в месяц<br>Правки бесплатно 5 000 000 млн руб']]
                    li.packets_item(class='packets_item__#{index + 1}')
                        .packets_item_title= item[0]
                        .packets_item_text !{item[1]}
                        //.btn.btn__md.btn__lower Подробнее