include includes/vars
include includes/mixins

doctype html
html(lang='ru')
    include includes/blocks/head

    body
        include includes/blocks/header

        block content
            section.top_lider
                .wrapper
                    h2.title.title__red МЫ ВЫВОДИМ В ТОП ЛИДЕРОВ РЫНКА
                    ul.top_lider_list
                        - for(var i=1; i<5; i++)
                            li.top_lider_item
                                img.top_lider_img(src='images/main/lider_logo_#{i}.png')

            section.context_market
                .wrapper.clr
                    h2.title.title__orange.title__graph Контекстная реклама Яндекс.Директ и Google AdWords
                    .col_6
                        ul.context_market_list
                            each item in ['рост посещаемости Вашего сайта/магазина в 10 раз за 1 день','увеличение Ваших продаж не отходя от компьютера','реклама направленная конкретно на вашего потенциального клиента','запуск рекламной кампании за 2 часа','возможность настройки приследования Вашего потенциального клиента до момента совершения им покупки','возможность оперативного внесения корректировок','снижение стоимости привлечения клиента до 80%','возможность самостоятельно устанавливать бюджет']
                                li.context_market_item= item
                    .col_6
                        .context_market_img
                        .btn.btn__lg ЗАКАЗАТЬ

            section.seo_topic
                .wrapper.clr
                    .panel ХОТИТЕ БЫТЬ В ТОПЕ  В ПОИСКОВИКАХ GOOGLE <span class='small'>и</span> YANDEX?
                    h2.title.title__orange SEO продвижение сайта от AMAX digital это
                    .col_6
                        ul.seo_topic_list
                            each item in ['вывод сайта в топ 3 выдачи поисковых систем','рост целевого трафика','привлечение новых клиентов','увеличение продаж','представление компании в глобальной сети','1000 довольных клиентов','увеличение продаж на 30% в течении 3х месяцев']
                                li.seo_topic_item= item
                        .text_center
                            .btn.btn__lg ЗАКАЗАТЬ
                    .col_6
                        .seo_topic_img

            section.social_market
                .wrapper.clr
                    h2.title.title__bg РЕКЛАМА В СОЦИАЛЬНЫХ СЕТЯХ
                    ul.social_market_list.clr
                        each item in [['instagram','5 млн чел в день<br>от 1 500 000 бел.руб'],['vkontakte','2 млн чел в день<br>от 2 000 000 бел.руб'],['facebook','2 млн чел в день<br>от 2 000 000 бел.руб'],['odnoklassniki','2 млн чел в день<br>от 2 000 000 бел.руб']]
                            li.social_market_item_wrap
                                .social_market_item(class='social_market_item__#{item[0]}')
                                    .social_market_item_title= item[0]
                                    .social_market_item_text !{item[1]}
                                    .btn.btn__md.btn__lower Подробнее
                    .social_market_text.text_center ОБЩЕЕ КОЛИЧЕСТВО ВАШИХ ПОТЕНЦИАЛЬНЫХ КЛИЕНТОВ В СОЦСЕТЯХ – <span class='small'>более 2 000 000 000 чел.</span>
                    .col_6
                        .social_market_text РЕКЛАМА В СОЦИАЛЬНЫХ СЕТЯХ <span class='small'>от</span> AMAX <span class='small'>digital это</span>
                        ul.social_market_text_list
                            each item in ['Гибкие настройки таргетинга: пол, возраст, страна, хобби, интересы, семейное положение','Возможность привлекать клиента не имея собственного сайта','Минимальные расходы на привлечения клиента']
                                li.social_market_text_item= item
                    .col_6.text_center
                        .btn.btn__xl БЕСПЛАТНАЯ КОНСУЛЬТАЦИЯ

            section.amax_is
                //.amax_is_title AMAX <span class='small'>ЭТО</span>
                //each item in ['10 лет кропотливой работы в интернет-маркетинге','Уникальные методы по продвижению и представлению Вашего бизнеса','Нестандартные подходы с правильными и успешными решениями','Более 80 разработанных онлайн-сервисов','Более 70 высококвалифицированных сертифицированных специалестов. Наши сотрудники – мастера своего дела.','Более 1000 эффективных рекламных кампаний в интернете']
                //    .amax_is_item= item

            section.specialist
                .wrapper
                    .title.title__bg НАШИ СОТРУДНИКИ СЕРТИФИЦИРВАНЫЕ СПЕЦАЛИСТЫ
                    each item, index in ['БОЛЕЕ 2000 РЕКЛИЗОВАННЫХ ПРОЕКТОВ','ТОПОВЫЕ ПОЗИЦИИ КЛИЕНТОВ НА РЫНКЕ','ПОСЛЕДНИЕ ТЕНДЕНЦИИ']
                        .col_4
                            .specialist_text(class='specialist_text__#{index+1}')= item
                    .clr
                    ul.specialist_list
                        - for(var i=1; i<5; i++)
                            li.specialist_item
                                img.specialist_img(src='images/main/sertificat_#{i}.png')






        include includes/blocks/application

        include includes/blocks/footer


    include includes/blocks/scripts