extends index

block header_main
    .header_main.header_main__social
        .wrapper
            .header_main_text_block.header_main_text_block__bg
                .title_bg_black_block
                    h1.title.title__xxs.title__m_t_none.title__instagram РЕКЛАМА В INSTAGRAM
                    h3.title_text Ваша реклама в Instagram будет отображаться в лентах пользователей. В Instagram можно точно задать целевую аудиторию: пол, возраст, страна, хобби, интересы, семейное положение, ремаркетинг (таргетинг на посетителей вашего сайта) и т.д.
                    .btn.btn__md(data-order-link) ЗАКАЗАТЬ

block content
    section.social_market.social_market__gery
        .wrapper.clr
            h2.title.title__sm.title__p_sm РЕКЛАМА В СОЦИАЛЬНЫХ СЕТЯХ
            ul.social_market_list.clr
                each item in [['instagram','5 млн чел в день<br>от 1 500 000 бел.руб','index7.html'],['vkontakte','2 млн чел в день<br>от 2 000 000 бел.руб','index6.html'],['facebook','2 млн чел в день<br>от 2 000 000 бел.руб','index5.html'],['odnoklassniki','2 млн чел в день<br>от 2 000 000 бел.руб','index4.html']]
                    li.social_market_item_wrap
                        .social_market_item.social_market_item__pink(class='social_market_item__#{item[0]}')
                            .social_market_item_title.social_market_item_title__capitalize= item[0]
                            .social_market_item_text.social_market_item_text__sm !{item[1]}
                            a.btn.btn__md.btn__lower(href=item[2]) Подробнее

    section.specialist
        .wrapper
            .title.title__bg НАШИ СОТРУДНИКИ СЕРТИФИЦИРВАНЫЕ СПЕЦАЛИСТЫ
            each item, index in ['БОЛЕЕ 2000 РЕКЛИЗОВАННЫХ ПРОЕКТОВ','ТОПОВЫЕ ПОЗИЦИИ КЛИЕНТОВ НА РЫНКЕ','ПОСЛЕДНИЕ ТЕНДЕНЦИИ']
                .col_4
                    .specialist_text(class='specialist_text__#{index + 1}')= item
            .clr
            ul.specialist_list
                - for(var i=1; i<5; i++)
                    li.specialist_item
                        img.specialist_img(src='images/main/sertificat_#{i}.png')