include includes/vars
include includes/mixins

doctype html
html(lang='ru')
    include includes/blocks/head

    body
        header.header
            .header_top
                .wrapper.clr
                    a.logo(href='/' title='Amax - digital agency')
                        span.logo_title Amax
                        span.logo_text Digital agency

                    nav.nav
                        .nav_hamburger
                        ul.nav_list.clr
                            - navList = ['Контекстная реклама', 'Продвижение сайтов', 'Реклама в социальных сетях', 'Копирайтинг']
                            each item in navList
                                li.nav_item
                                    a.nav_link(href='')= item

                    .pull_right
                        .header_phone_tabs(data-tab-wrap)
                            .header_phone_tab_link_block
                                .header_phone_tab_link.active(data-tab-link='1') Минск
                                .header_phone_tab_link(data-tab-link='2') Москва
                            .header_phone_tab.active(data-tab-body='1') +375 29 444-55-66
                            .header_phone_tab(data-tab-body='2') +375 77 444-55-66

                        .btn Заказать звонок

            .header_main
                .wrapper
                    .header_main_text_block
                        .header_main_text_shadow.
                            <strong>Контекстная реклама</strong> сегодня является одним из самых эффективных,
                            быстрых и понятных способов привлечения клиентов.
                            При этом работает она вполне просто: потенциальному клиенту достаточно ввести
                            тематический запрос в строке поиска, и реклама вашего сайта/услуги/товара возникнет
                            на первой странице поисковых систем и сайтах схожей тематики.
                        .header_main_text_shadow.header_main_text_shadow__cost От 1 000 000 бел.руб.
                        .btn.btn__md ЗАКАЗАТЬ

        block content

        section.application
            .wrapper.clr
                .application_title ФОРМА ЗАЯВКИ
                .application_text наши менеджеры свяжутся с Вами в течении рабочео дня
                .col_6
                    input.input(type='text' placeholder='Ваше имя' name='name')
                    input.input(type='text' placeholder='Контактный телефон' name='phone')
                    input.input(type='text' placeholder='Email' name='email')
                    input.input.m_b_xl(type='text' placeholder='Адрес вашего сайта (если есть)' name='address')

                    - checkbox1 = ['Реклама в интернете (контекстная реклама)','Продвижение сайта в поисковиках (СЕО)','Реклама в социальных сетях','Продвижение мобильных приложений','Разработка сайта']
                    each item, index in checkbox1
                        label.label= item
                            input.checkbox(type='checkbox' name='checkbox-#{index}')
                            span.checkbox_img
                .col_6
                    textarea.textarea.m_b_xl(placeholder='Ваши возможные пожелания' name='suggestions')
                    - checkbox1 = ['Разработка мобильного приложения','Разработка ПО','Анализ Вашего сайта/приложения/ПО','Ничего не знаю, хочу чтобы меня видели в интернете','Работаю с другим агентством, ничего не работает']
                    each item, index in checkbox1
                        label.label= item
                            input.checkbox(type='checkbox' name='checkbox-#{index}')
                            span.checkbox_img
                .btn.btn__bg ОТПРАВИТЬ

        footer.footer
            .footer_main
                .wrapper.clr
                    .col_6
                        .footer_title НАШИ УСЛУГИ
                        .col_6
                            ul.footer_list
                                - footerList1 = ['Контекстная реклама','Продвижение сайтов','Копирайтинг','Реклама в социальных сетях']
                                each item in footerList1
                                    li.footer_item
                                        a.footer_link(href='')= item
                        .col_6
                            ul.footer_list
                                - footerList1 = ['Реклама в Instagram','Реклама в Facebook','Реклама в Вконтакте','Реклама в Одноклассниках']
                                each item in footerList1
                                    li.footer_item
                                        a.footer_link(href='')= item
                    .col_6
                        .footer_title НАШИ КОНТАКТЫ
                        .col_6
                            strong Наш офис в Минске:
                            p ул.Бирюзова 10А, 2-йэтаж, каб. 11
                            p 220073, тел: <a class='footer_text_orange' href='tel:+375 29 196 50 60'><strong>+375 29 196 50 60</strong></a>
                            p
                                a.footer_link(href='amax.by') amax.by
                            p
                                a.footer_link(href='mail@amax.by') mail@amax.by
                        .col_6
                            p
                                strong Наш офис в Москве:
                            p ул.Дружбы 10Б, 119330
                            p тел: <a class='footer_text_orange' href='tel:+7 926 196 50 60'><strong>+7 926 196 50 60</strong></a>
                            p
                                a.footer_link(href='mailto:amax.partners') amax.partners
                            p
                                a.footer_link(href='mail@amax-digital.ru') mail@amax-digital.ru

            .footer_copyright
                .wrapper
                    p ООО “Юнистокер” 2006-2016 – digital agency. Реклама в интернете, УНП 192559904


    include includes/blocks/scripts